/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fdfcfb;
  --bg-second-color: rgba(233, 233, 233, 0.753);
  --main-color: #fdfcfb;
  --main-color: #1f1f1f;
  --contrast-color: #fdfcfb;
  --font-color: #1f1f1f;
  --scrolbar-color: #1f1f1fbd;
  --border-color: #00000081;

  --pos-местоимение: #f87171fa;
  --pos-существительное: #34d399c4;
  --pos-глагол: #fbbe24bb;
  --pos-прилагательное: #60a5fa;
  --pos-наречие: #f9a8d4d8;
  --pos-союз: #a78bfacb;
  --pos-частица: #a78bfacb;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fdfcfb;
    --bg-second-color: rgba(233, 233, 233, 0.753);
    --main-color: #fdfcfb;
    --main-color: #1f1f1f;
    --contrast-color: #fdfcfb;
    --font-color: #1f1f1f;
    --scrolbar-color: #1f1f1fbd;
    --border-color: #00000081;

    --pos-местоимение: #f87171fa;
    --pos-существительное: #34d399c4;
    --pos-глагол: #fbbe24bb;
    --pos-прилагательное: #60a5fa;
    --pos-наречие: #f9a8d4d8;
    --pos-союз: #a78bfacb;
    --pos-частица: #a78bfacb;
  }
}