/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #1f1f1f;
  --bg-second-color: rgba(20, 20, 20, 0.257);
  --main-color: #fdfcfb;
  --contrast-color: #1f1f1f;
  --scrolbar-color: #fdfcfba1;
  --border-color: #fdfcfb81;

  --pos-местоимение: #db5555;
  --pos-существительное: #31a077;
  --pos-глагол: #daa319;
  --pos-прилагательное: #4e83c4;
  --pos-наречие: #ce86ad;
  --pos-союз: #624ba5;
  --pos-частица: #624ba5;
}