.page {
  color: var(--font-color);
  font-family: 'Hasklig', monospace;
  min-height: 100vh;
  background-color: var(--bg-color);
}

button {
  transition: ease 0.3s;
}

button:hover {
  opacity: 0.9;
}

button:active {
  scale: 1.06;
}